In [1]:
import pandas as pd
import numpy as np

# connect to PostgreSQL
import psycopg2
conn=psycopg2.connect("dbname='nfldb' user='nfldb' host='localhost' password='America33' port=5432")

In [5]:
game_results=pd.read_sql("""select season_year, week, home_team, home_score, away_team, away_score
from game
where season_type='Regular'""",con=conn)

# replace la with stl
game_results.replace(to_replace='LA', value='STL', inplace=True)

# compute wins and ties
game_results['home_win'] = [1 if x>y else 0 for x,y in zip(game_results['home_score'],game_results['away_score'])]
game_results['away_win'] = [1 if x<y else 0 for x,y in zip(game_results['home_score'],game_results['away_score'])]
game_results['tie'] = [1 if x==y else 0 for x,y in zip(game_results['home_score'],game_results['away_score'])]

# sort the dataframe
game_results=game_results.sort_values(by=['season_year','home_team','week'])

# rename the year
game_results=game_results.rename(columns = {'season_year':'year'})

# print first 10 entries
game_results.tail(500)

,year,week,home_team,home_score,away_team,away_score,home_win,away_win,tie
59,2015,11,ATL,21,IND,24,0,1,0
32,2015,12,ATL,10,MIN,20,0,1,0
180,2015,16,ATL,20,CAR,13,1,0,0
201,2015,17,ATL,17,NO,20,0,1,0
1161,2015,3,BAL,24,CIN,28,0,1,0
232,2015,5,BAL,30,CLE,33,0,1,0
271,2015,8,BAL,29,SD,26,1,0,0
300,2015,10,BAL,20,JAC,22,0,1,0
25,2015,11,BAL,16,STL,13,1,0,0
82,2015,14,BAL,6,SEA,35,0,1,0
649,2015,15,BAL,14,KC,34,0,1,0
187,2015,16,BAL,20,PIT,17,1,0,0
124,2015,1,BUF,27,IND,14,1,0,0
1154,2015,2,BUF,32,NE,40,0,1,0
74,2015,4,BUF,10,NYG,24,0,1,0
164,2015,6,BUF,21,CIN,34,0,1,0
111,2015,9,BUF,33,MIA,17,1,0,0
37,2015,13,BUF,30,HOU,21,1,0,0
184,2015,16,BUF,16,DAL,6,1,0,0
669,2015,17,BUF,22,NYJ,17,1,0,0
956,2015,2,CAR,24,HOU,17,1,0,0
1167,2015,3,CAR,27,NO,22,1,0,0
36,2015,7,CAR,27,PHI,16,1,0,0
35,2015,8,CAR,29,IND,26,1,0,0
159,2015,9,CAR,37,GB,29,1,0,0
294,2015,11,CAR,44,WAS,16,1,0,0
66,2015,14,CAR,38,ATL,0,1,0,0
202,2015,17,CAR,38,TB,10,1,0,0
842,2015,1,CHI,23,GB,31,0,1,0
1155,2015,2,CHI,23,ARI,48,0,1,0
...,...,...,...,...,...,...,...,...,...
1891,2016,8,TB,0,OAK,0,0,0,1
1896,2016,9,TB,0,ATL,0,0,0,1
1915,2016,10,TB,0,CHI,0,0,0,1
1948,2016,12,TB,0,SEA,0,0,0,1
1977,2016,14,TB,0,NO,0,0,0,1
2025,2016,17,TB,0,CAR,0,0,0,1
2041,2016,1,TEN,0,MIN,0,0,0,1
1816,2016,3,TEN,0,OAK,0,0,0,1
1861,2016,6,TEN,0,CLE,0,0,0,1
1877,2016,7,TEN,0,IND,0,0,0,1
1883,2016,8,TEN,0,JAC,0,0,0,1
1916,2016,10,TEN,0,GB,0,0,0,1
1978,2016,14,TEN,0,DEN,0,0,0,1
2026,2016,17,TEN,0,HOU,0,0,0,1
1802,2016,2,UNK,0,SEA,0,0,0,1
1849,2016,5,UNK,0,BUF,0,0,0,1
1869,2016,7,UNK,0,NYG,0,0,0,1
1904,2016,9,UNK,0,CAR,0,0,0,1
1932,2016,11,UNK,0,MIA,0,0,0,1
1981,2016,14,UNK,0,ATL,0,0,0,1
2010,2016,16,UNK,0,SF,0,0,0,1
2029,2016,17,UNK,0,ARI,0,0,0,1
2046,2016,1,WAS,0,PIT,0,0,0,1
1800,2016,2,WAS,0,DAL,0,0,0,1
1832,2016,4,WAS,0,CLE,0,0,0,1
1862,2016,6,WAS,0,PHI,0,0,0,1
1917,2016,10,WAS,0,MIN,0,0,0,1
1935,2016,11,WAS,0,GB,0,0,0,1
1999,2016,15,WAS,0,CAR,0,0,0,1
2027,2016,17,WAS,0,NYG,0,0,0,1